# Bubble Map

Bubble map of head counts of female R&D in Europe

In [1]:
import pandas as pd 
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
data = pd.read_csv('../data/total_rd.csv')

In [3]:
# filter data to include only European countries 
europe = ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria',
          'Channel Islands', 'Croatia', 'Czechia', 'Denmark', 'Estonia', 'Faeroe Islands', 'Finland', 'France',
          'Germany','Greece','Hungary','Iceland', 'Ireland','Isle of Man', 'Italy', 'Latvia', 'Liechtenstein',
          'Lithuania', 'Luxembourg', 'Malta', 'Monaco', 'Montenegro', 'Netherlands', 'Norway', 'Poland', 'Portugal',
          'Romania', 'Russian Federation','San Marino','Serbia','Slovakia','Slovenia','Spain','Sweden',
          'Switzerland', 'Ukraine', 'United Kingdom of Great Britain and Northern Ireland']
data  = data[(data.Country.isin(europe)) & (data.Indicator == 'Total R&D personnel (HC) - Female') & (data.Time == 2015) ]

In [5]:
data.sort_values('Value')

,INDICATOR,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
1674,21104,Total R&D personnel (HC) - Female,MLT,Malta,2015,2015,755.000,NaN,NaN
1762,21104,Total R&D personnel (HC) - Female,MNE,Montenegro,2015,2015,1194.000,NaN,NaN
2871,21104,Total R&D personnel (HC) - Female,BIH,Bosnia and Herzegovina,2015,2015,1425.000,NaN,NaN
1515,21104,Total R&D personnel (HC) - Female,LUX,Luxembourg,2015,2015,1706.000,NaN,NaN
1491,21104,Total R&D personnel (HC) - Female,ISL,Iceland,2015,2015,2476.000,NaN,NaN
1615,21104,Total R&D personnel (HC) - Female,EST,Estonia,2015,2015,4698.000,NaN,NaN
1645,21104,Total R&D personnel (HC) - Female,LVA,Latvia,2015,2015,6025.000,NaN,NaN
1722,21104,Total R&D personnel (HC) - Female,SVN,Slovenia,2015,2015,7282.000,NaN,NaN
1605,21104,Total R&D personnel (HC) - Female,HRV,Croatia,2015,2015,8789.000,NaN,NaN
1652,21104,Total R&D personnel (HC) - Female,LTU,Lithuania,2015,2015,11447.000,NaN,NaN
1758,21104,Total R&D personnel (HC) - Female,SRB,Serbia,2015,2015,11695.000,NaN,NaN
1540,21104,Total R&D personnel (HC) - Female,SVK,Slovakia,2015,2015,12242.000,NaN,NaN
1581,21104,Total R&D personnel (HC) - Female,BGR,Bulgaria,2015,2015,14167.000,NaN,NaN
1495,21104,Total R&D personnel (HC) - Female,IRL,Ireland,2015,2015,17148.000,NaN,NaN
1710,21104,Total R&D personnel (HC) - Female,ROU,Romania,2015,2015,19913.000,NaN,NaN
1489,21104,Total R&D personnel (HC) - Female,HUN,Hungary,2015,2015,21918.000,NaN,NaN
1473,21104,Total R&D personnel (HC) - Female,FIN,Finland,2015,2015,25390.000,NaN,NaN
1525,21104,Total R&D personnel (HC) - Female,NOR,Norway,2015,2015,29888.000,NaN,NaN
1464,21104,Total R&D personnel (HC) - Female,CZE,Czechia,2015,2015,31121.710,NaN,NaN
1468,21104,Total R&D personnel (HC) - Female,DNK,Denmark,2015,2015,31740.000,NaN,NaN
1456,21104,Total R&D personnel (HC) - Female,AUT,Austria,2015,2015,38084.000,NaN,NaN
1459,21104,Total R&D personnel (HC) - Female,BEL,Belgium,2015,2015,41298.000,NaN,NaN
1484,21104,Total R&D personnel (HC) - Female,GRC,Greece,2015,2015,41606.000,NaN,NaN
1550,21104,Total R&D personnel (HC) - Female,CHE,Switzerland,2015,2015,42222.821,NaN,NaN
1535,21104,Total R&D personnel (HC) - Female,PRT,Portugal,2015,2015,46367.000,NaN,NaN
1520,21104,Total R&D personnel (HC) - Female,NLD,Netherlands,2015,2015,49689.000,NaN,NaN
2829,21104,Total R&D personnel (HC) - Female,UKR,Ukraine,2015,2015,49782.000,NaN,NaN
1548,21104,Total R&D personnel (HC) - Female,SWE,Sweden,2015,2015,50638.000,NaN,NaN
1530,21104,Total R&D personnel (HC) - Female,POL,Poland,2015,2015,61613.000,NaN,NaN
1500,21104,Total R&D personnel (HC) - Female,ITA,Italy,2015,2015,137339.000,NaN,NaN
1545,21104,Total R&D personnel (HC) - Female,ESP,Spain,2015,2015,137822.000,NaN,NaN
1478,21104,Total R&D personnel (HC) - Female,FRA,France,2015,2015,196026.340,NaN,NaN
1560,21104,Total R&D personnel (HC) - Female,GBR,United Kingdom of Great Britain and Northern I...,2015,2015,243246.000,NaN,NaN
1481,21104,Total R&D personnel (HC) - Female,DEU,Germany,2015,2015,293103.000,NaN,NaN

In [ ]:
data.

In [ ]:
# data.to_csv('../data/europe_bubble.csv', index=False)

### This CSV file can be fed into Tableau to create the final bubble map. One would need to specify the Values as the columns and Country as the rows before clicking on 'Show Me' to select the bubble map option.