By 2050, the world’s population will likely increase by more than 35%.  **How will we feed nearly 2 billion more people? And what does the future of farming look like?.** These questions have driven the agricultural industry to modernize at a breakneck speed, leading to advancements in equipment, animal husbandry, biotechnology, and automated farm management. At the center of these advancements? You guessed it— lots and lots of data.

More than ever, the agricultural industry is relying on data analysis to help them make informed decisions and solve problems. Using a data set for just one country’s annual agricultural output and economic impact (see below), what data insights will you uncover?

In [128]:
import pandas as pd 
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go

In [3]:
# read in population data 
pop = pd.read_csv('../data/week_5_6/nc-est2016-agesex-res.csv')

In [33]:
# read in excel file 
excelFile = pd.ExcelFile('../data/week_5_6/Ag_Census_Map_data_07172015.xlsx')

In [40]:
# parse through multiple sheets of excel 
agri_df = {}
for sheet_name in excelFile.sheet_names:
    agri_df[sheet_name] = excelFile.parse(sheet_name)

In [5]:
## data legend = https://www2.census.gov/programs-surveys/popest/datasets/2010-2016/national/asrh/nc-est2016-agesex-res.pdf
pop.head()

,SEX,AGE,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016
0,0,0,3944153,3944160,3951400,3963239,3926677,3931346,3955374,3975414,3970145
1,0,1,3978070,3978090,3957847,3966617,3978101,3943114,3950083,3974980,3995008
2,0,2,4096929,4096939,4090856,3971363,3980016,3992752,3959663,3967361,3992154
3,0,3,4119040,4119051,4111929,4102483,3982920,3992660,4006960,3974468,3982074
4,0,4,4063170,4063186,4077557,4122286,4112795,3994261,4005464,4020276,3987656

In [54]:
agri_df['County Names'].head()

   FIPSTEXT CountyName  Entity StateName
0      1001    Autauga  County   Alabama
1      1003    Baldwin  County   Alabama
2      1005    Barbour  County   Alabama
3      1007       Bibb  County   Alabama
4      1009     Blount  County   Alabama

## Exploring Variable titles

In [62]:
var_lookup = agri_df['Variable Lookup']

In [105]:
var_lookup[var_lookup['Category'] == 'Crops and Plants']

,MapID,Category,Subcategory,MAPTITLE
0,y12_M161,Crops and Plants,Field Crops Harvested,Acres of Corn Harvested for Grain as Percent o...
1,y12_M166,Crops and Plants,Field Crops Harvested,Acres of Sorghum Harvested for Grain as Percen...
2,y12_M170,Crops and Plants,Field Crops Harvested,Acres of All Wheat Harvested for Grain as Perc...
3,y12_M185,Crops and Plants,Field Crops Harvested,Acres of Upland Cotton Harvested as Percent of...
4,y12_M191,Crops and Plants,Field Crops Harvested,Acres of Soybeans Harvested for Beans as Perce...
5,y12_M300,Crops and Plants,Field Crops Harvested,"Irrigated Corn for Grain, Harvested Acres, as ..."
6,y12_M301,Crops and Plants,Field Crops Harvested,Corn Harvested for Grain - Change in Acreage: ...
7,y12_M302,Crops and Plants,Field Crops Harvested,Acres of Corn for Silage or Greenchop Harveste...
8,y12_M303,Crops and Plants,Field Crops Harvested,"Irrigated Sorghum for Grain, Harvested Acres, ..."
9,y12_M304,Crops and Plants,Field Crops Harvested,Sorghum Harvested for Grain - Change in Acreag...
10,y12_M305,Crops and Plants,Field Crops Harvested,"Irrigated All Wheat for Grain, Harvested Acres..."
11,y12_M306,Crops and Plants,Field Crops Harvested,All Wheat Harvested for Grain - Change in Acre...
12,y12_M307,Crops and Plants,Field Crops Harvested,Acres of Barley Harvested for Grain as Percen...
13,y12_M308,Crops and Plants,Field Crops Harvested,Barley Harvested for Grain - Change in Acreage...
14,y12_M309,Crops and Plants,Field Crops Harvested,Acres of Oats Harvested for Grain as Percent o...
15,y12_M310,Crops and Plants,Field Crops Harvested,Oats Harvested for Grain - Change in Acreage: ...
16,y12_M311,Crops and Plants,Field Crops Harvested,Acres of Rice Harvested as Percent of Harveste...
17,y12_M312,Crops and Plants,Field Crops Harvested,Acres of Rye Harvested for Grain as Percent of...
18,y12_M313,Crops and Plants,Field Crops Harvested,Acres of Sunflower Seed (Oil Varieties) Harves...
19,y12_M314,Crops and Plants,Field Crops Harvested,Acres of Sunflower Seed (Non-Oil Varieties) Ha...
20,y12_M315,Crops and Plants,Field Crops Harvested,Acres of Canola Harvested as Percent of Harves...
21,y12_M316,Crops and Plants,Field Crops Harvested,Acres of All Cotton Harvested as Percent of Ha...
22,y12_M317,Crops and Plants,Field Crops Harvested,"Irrigated All Cotton, Harvested Acres, as Perc..."
23,y12_M318,Crops and Plants,Field Crops Harvested,All Cotton Harvested - Change in Acreage: 200...
24,y12_M319,Crops and Plants,Field Crops Harvested,Acres of Pima Cotton Harvested as Percent of H...
25,y12_M320,Crops and Plants,Field Crops Harvested,Acres of Tobacco Harvested as Percent of Harve...
26,y12_M321,Crops and Plants,Field Crops Harvested,Tobacco Harvested - Change in Acreage: 2007 t...
27,y12_M322,Crops and Plants,Field Crops Harvested,"Irrigated Soybeans for Beans, Harvested Acres,..."
28,y12_M323,Crops and Plants,Field Crops Harvested,Soybeans Harvested for Beans - Change in Acrea...
29,y12_M324,Crops and Plants,Field Crops Harvested,"Acres of Dry Edible Beans, Excluding Limas, Ha..."
...,...,...,...,...
51,y12_M368,Crops and Plants,"Fruits, Tree Nuts, Berries, Nursery and Greenh...","Total Acres of Oranges, Other Than Valencia, a..."
52,y12_M369,Crops and Plants,"Fruits, Tree Nuts, Berries, Nursery and Greenh...","Total Acres of Almonds, as Percent of Land in ..."
53,y12_M370,Crops and Plants,"Fruits, Tree Nuts, Berries, Nursery and Greenh...","Total Acres of All Pecans, as Percent of Land ..."
54,y12_M371,Crops and Plants,"Fruits, Tree Nuts, Berries, Nursery and Greenh...","Total Acres of English Walnuts, as Percent of ..."
55,y12_M372,Crops and Plants,"Fruits, Tree Nuts, Berries, Nursery and Greenh...",Number of Farms with Floriculture Crops Grown ...
56,y12_M201,Crops and Plants,Hay and Forage Crops Harvested,Acres of Forage Harvested - Land Used for All ...
57,y12_M203,Crops and Plants,Hay and Forage Crops Harvested,"Acres of All Hay Harvested, Including Alfalfa,..."
58,y12_M331,Crops and Plants,Hay and Forage Crops Harvested,Acres of Alfalfa Hay Harvested as Percent of H...
59,y12_M332,Crops and Plants,Hay and Forage Crops Harvested,"Irrigated Alfalfa Hay, Harvested Acres, as Per..."
60,y12_M333,Crops and Plants,Hay and Forage Crops Harvested,Alfalfa Hay Harvested - Change in Acreage: 20...
61,y12_M334,Crops and Plants,Hay and Forage Crops Harvested,Acres of Small Grain Hay Harvested as Percent ...
62,y12_M335,Crops and Plants,Hay and Forage Crops Harvested,Acres of Other Tame Hay Harvested as Percent o...
63,y12_M336,Crops and Plants,Hay and Forage Crops Harvested,Acres of Wild Hay Harvested as Percent of Harv...
64,y12_M337,Crops and Plants,Hay and Forage Crops Harvested,Acres of Haylage or Greenchop from Alfalfa or ...
65,y12_M338,Crops and Plants,Hay and Forage Crops Harvested,"Acres of All Other Haylage, Grass Silage, and ..."
66,y12_M339,Crops and Plants,Seed Crops Harvested,Acres of Ryegrass Seed Harvested as Percent of...
67,y12_M340,Crops and Plants,Vegetables and Melons Harvested,"Vegetables, Harvested Acres, as Percent of Har..."
68,y12_M341,Crops and Plants,Vegetables and Melons Harvested,"Irrigated Vegetables, Harvested Acres for Sale..."
69,y12_M342,Crops and Plants,Vegetables and Melons Harvested,"Asparagus, Bearing Age, Acres Harvested for Sa..."
70,y12_M343,Crops and Plants,Vegetables and Melons Harvested,"Snap Beans, Acres Harvested for Sale, as Perce..."
71,y12_M344,Crops and Plants,Vegetables and Melons Harvested,"Broccoli, Acres Harvested for Sale, as Percent..."
72,y12_M345,Crops and Plants,Vegetables and Melons Harvested,"Head Cabbage, Acres Harvested for Sale, as Per..."
73,y12_M346,Crops and Plants,Vegetables and Melons Harvested,"Cantaloupes, Acres Harvested for Sale, as Perc..."
74,y12_M347,Crops and Plants,Vegetables and Melons Harvested,"Cucumbers and Pickles, Acres Harvested for Sal..."
75,y12_M348,Crops and Plants,Vegetables and Melons Harvested,"All Lettuce, Acres Harvested for Sale, as Perc..."
76,y12_M349,Crops and Plants,Vegetables and Melons Harvested,"Dry Onions, Acres Harvested for Sale, as Perce..."
77,y12_M350,Crops and Plants,Vegetables and Melons Harvested,"Green Peas, Excluding Southern Peas, Acres Har..."
78,y12_M351,Crops and Plants,Vegetables and Melons Harvested,"Sweet Corn, Acres Harvested for Sale, as Perce..."
79,y12_M352,Crops and Plants,Vegetables and Melons Harvested,"Tomatoes in the Open, Acres Harvested for Sale..."
80,y12_M353,Crops and Plants,Vegetables and Melons Harvested,"Watermelons, Acres Harvested for Sale, as Perc..."

In [86]:
set(var_lookup[var_lookup['Category'] == 'Crops and Plants']['Subcategory'])

{'Field Crops Harvested',
 'Fruits, Tree Nuts, Berries, Nursery and Greenhouse',
 'Hay and Forage Crops Harvested',
 'Seed Crops Harvested',
 'Vegetables and Melons Harvested'}

In [74]:
plants_titles = (var_lookup[var_lookup['Category'] == 'Crops and Plants']['MAPTITLE']).values

In [75]:
plants_titles

array(['Acres of Corn Harvested for Grain as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Sorghum Harvested for Grain as Percent of Harvested Cropland Acreage:  2012',
       'Acres of All Wheat Harvested for Grain as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Upland Cotton Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Soybeans Harvested for Beans as Percent of Harvested Cropland Acreage:  2012',
       'Irrigated Corn for Grain, Harvested Acres, as Percent of Corn for Grain, Harvested Acres:  2012',
       'Corn Harvested for Grain - Change in Acreage:  2007 to 2012',
       'Acres of Corn for Silage or Greenchop Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Irrigated Sorghum for Grain, Harvested Acres, as Percent of Sorghum for Grain, Harvested Acres:  2012',
       'Sorghum Harvested for Grain - Change in Acreage:  2007 to 2012',
       'Irrigated All Wheat for Grain, Harvested Acres, as Percent of All Wheat for Grain, Harvested Acres:  2012',
       'All Wheat Harvested for Grain - Change in Acreage:  2007 to 2012',
       'Acres of Barley  Harvested for Grain as Percent of Harvested Cropland Acreage:  2012',
       'Barley Harvested for Grain - Change in Acreage:  2007 to 2012',
       'Acres of Oats Harvested for Grain as Percent of Harvested Cropland Acreage:  2012',
       'Oats Harvested for Grain - Change in Acreage:  2007 to 2012',
       'Acres of Rice Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Rye Harvested for Grain as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Sunflower Seed (Oil Varieties) Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Sunflower Seed (Non-Oil Varieties) Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Canola Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of All Cotton Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Irrigated All Cotton, Harvested Acres, as Percent of All Cotton, Harvested Acres:  2012',
       'All Cotton Harvested - Change in Acreage:  2007 to 2012',
       'Acres of Pima Cotton Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Tobacco Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Tobacco Harvested - Change in Acreage:  2007 to 2012',
       'Irrigated Soybeans for Beans, Harvested Acres, as Percent of Soybeans for Beans, Harvested Acres:  2012',
       'Soybeans Harvested for Beans - Change in Acreage:  2007 to 2012',
       'Acres of Dry Edible Beans, Excluding Limas, Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Dry Edible Peas Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Potatoes, Excluding Sweet Potatoes, Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Potatoes Harvested, Excluding Sweet Potatoes - Change in Acreage:  2007 to 2012',
       'Acres of Sugarbeets for Sugar Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Sugarcane for Sugar Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Peanuts for Nuts Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Land in Orchards as Percent of Cropland Acreage:  2012',
       'Tame Blueberries, Harvested Acres, as Percent of Harvested Cropland Acreage:  2012',
       'Strawberries, Harvested Acres, as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Irrigated Land in Orchards as Percent of Harvested Cropland Acreage:  2012',
       'Total Acres of Apples, as Percent of Land in Orchards:  2012',
       'Total Acres of Avocados, as Percent of Land in Orchards:  2012',
       'Total Acres of Sweet Cherries, as Percent of Land in Orchards:  2012',
       'Total Acres of Tart Cherries, as Percent of Land in Orchards:  2012',
       'Total Acres of Grapes, as Percent of Land in Orchards:  2012',
       'Total Acres of All Peaches, as Percent of Land in Orchards:  2012',
       'Total Acres of All Pears, as Percent of Land in Orchards:  2012',
       'Total Acres of Plums and Prunes, as Percent of Land in Orchards:  2012',
       'Total Acres of Grapefruit, as Percent of Land in Orchards:  2012',
       'Total Acres of Lemons, as Percent of Land in Orchards:  2012',
       'Total Acres of Valencia Oranges, as Percent of Land in Orchards:  2012',
       'Total Acres of Oranges, Other Than Valencia, as Percent of Land in Orchards:  2012',
       'Total Acres of Almonds, as Percent of Land in Orchards:  2012',
       'Total Acres of All Pecans, as Percent of Land in Orchards:  2012',
       'Total Acres of English Walnuts, as Percent of Land in Orchards:  2012',
       'Number of Farms with Floriculture Crops Grown for Sale as Percent of All Farms:  2012',
       'Acres of Forage Harvested - Land Used for All Hay and All Haylage, Grass Silage, and Greenchop as Percent of Harvested Cropland Acreage:  2012',
       'Acres of All Hay Harvested, Including Alfalfa, Other Tame, Small Grain, and Wild, as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Alfalfa Hay Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Irrigated Alfalfa Hay, Harvested Acres, as Percent of Alfalfa Hay, Harvested Acres:  2012',
       'Alfalfa Hay Harvested - Change in Acreage:  2007 to 2012',
       'Acres of Small Grain Hay Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Other Tame Hay Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Wild Hay Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Haylage or Greenchop from Alfalfa or Alfalfa Mixtures Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of All Other Haylage, Grass Silage, and Greenchop Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Acres of Ryegrass Seed Harvested as Percent of Harvested Cropland Acreage:  2012',
       'Vegetables, Harvested Acres, as Percent of Harvested Cropland Acreage:  2012',
       'Irrigated Vegetables, Harvested Acres for Sale, as Percent of Harvested Cropland Acreage:  2012',
       'Asparagus, Bearing Age, Acres Harvested for Sale, as Percent of Vegetables, Harvested Acres for Sale:  2012',
       'Snap Beans, Acres Harvested for Sale, as Percent of Vegetables, Harvested Acres for Sale:  2012',
       'Broccoli, Acres Harvested for Sale, as Percent of Vegetables, Harvested Acres for Sale:  2012',
       'Head Cabbage, Acres Harvested for Sale, as Percent of Vegetables, Harvested Acres for Sale:  2012',
       'Cantaloupes, Acres Harvested for Sale, as Percent of Vegetables, Harvested Acres for Sale:  2012',
       'Cucumbers and Pickles, Acres Harvested for Sale, as Percent of Vegetables, Harvested Acres for Sale:  2012',
       'All Lettuce, Acres Harvested for Sale, as Percent of Vegetables, Harvested Acres for Sale:  2012',
       'Dry Onions, Acres Harvested for Sale, as Percent of Vegetables, Harvested Acres for Sale:  2012',
       'Green Peas, Excluding Southern Peas, Acres Harvested for Sale, as Percent of Vegetables, Harvested Acres for Sale:  2012',
       'Sweet Corn, Acres Harvested for Sale, as Percent of Vegetables, Harvested Acres for Sale:  2012',
       'Tomatoes in the Open, Acres Harvested for Sale, as Percent of Vegetables, Harvested Acres for Sale:  2012',
       'Watermelons, Acres Harvested for Sale, as Percent of Vegetables, Harvested Acres for Sale:  2012'],
      dtype=object)

In [78]:
econ_titles = var_lookup[var_lookup['Category'] == 'Economics']['MAPTITLE'].values
econ_titles

array(['Estimated Market Value of Land and Buildings, Average per Farm:  2012',
       'Estimated Market Value of All Machinery and Equipment on Operation, Average per Farm:  2012',
       'Average Number of Harvested Cropland Acres per Tractor:  2012',
       'Average Number of Corn, Soybean, and Wheat Harvested  Acres per Combine:  2012',
       'Average Total Farm Production Expenses per Farm:  2012',
       'Expenses for Livestock and Poultry Purchased or Leased as Percent of Total Farm Production Expenses:  2012',
       'Expenses for Feed Purchased as Percent of Total Farm Production Expenses:  2012',
       'Expenses for Seeds, Plants, Vines, and Trees as Percent of Total Farm Production Expenses:  2012',
       'Expenses for Fertilizer, Lime, and Soil Conditioners as Percent of Total Farm Production Expenses:  2012',
       'Expenses for Chemicals as Percent of Total Farm Production Expenses:  2012',
       'Expenses for Gasoline, Fuels, and Oils as Percent of Total Farm Production Expenses:  2012',
       'Expenses for Utilities as Percent of Total Farm Production Expenses:  2012',
       'Expenses for Hired Farm Labor as Percent of Total Farm Production Expenses:  2012',
       'Expenses for Contract Labor as Percent of Total Farm Production Expenses:  2012',
       'Expenses for Customwork and Custom Hauling as Percent of Total Farm Production Expenses:  2012',
       'Expenses for Interest Paid on Debts as Percent of Total Farm Production Expenses:  2012',
       'Expenses for Supplies, Repairs, and Maintenance as Percent of Total Farm Production Expenses:  2012',
       'Net Cash Farm Income of Operations:  2012',
       'Net Cash Farm Income of Operations, Average per Farm:  2012',
       'Net Cash Farm Income of Operators:  2012',
       'Net Cash Farm Income of Operators, Average per Farm:  2012',
       'Average Value per Farm of Agricultural Products Sold Directly to Individuals for Human Consumption:  2012',
       'Percent of Farms Receiving Government Payments:  2012',
       'Payments Received from Conservation Reserve, Wetlands Reserve, Farmable Wetlands and Conservation Reserve Enhancement Programs, Average per Farm:  2012',
       'Payments Received from Other Federal Farm Programs, Average per Farm:  2012',
       'Total Amount Received from Government Commodity Credit Corporation Loans, Average per Farm:  2012',
       'Total Income from Farm-Related Sources, Gross before Taxes and Expenses, Average per Farm:  2012',
       'Total Received from Government Payments, Average Per Farm:  2012',
       'Percent of Farms with Sales of Less Than $10,000:  2012',
       'Percent of Farms with Sales of $10,000 to $249,999:  2012',
       'Percent of Farms with Sales of $250,000 or More:  2012',
       'Average Value of Agricultural Products Sold per Farm:  2012',
       'Value of Crops Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Average Value of Crops Sold per Acre of Harvested Cropland:  2012',
       'Value of Grains, Oilseeds, Dry Beans, and Dry Peas Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Cotton and Cottonseed Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Tobacco Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Other Crops and Hay Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Vegetables, Melons, Potatoes, and Sweet Potatoes Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Fruits, Tree Nuts, and Berries Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Nursery, Greenhouse, Floriculture, and Sod Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Cut Christmas Trees and Short Rotation Woody Crops Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Livestock, Poultry, and Their Products Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Poultry and Eggs Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Milk from Cows Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Cattle and Calves Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Hogs and Pigs Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Sheep, Goats, and Their Products Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Aquaculture Sold as Percent of Total Market Value of Agricultural Products Sold:  2012',
       'Value of Certified or Exempt Organically Produced Commodities Sold, Average per Farm with Organic Sales:  2012'],
      dtype=object)

In [80]:
farm_titles = var_lookup[var_lookup['Category'] == 'Farms']['MAPTITLE'].values
farm_titles

array(['Acres of Cropland Fertilized (Excluding Cropland Pastured) as Percent of All Cropland Acreage (Excluding Cropland Pastured):  2012',
       'Acres Treated with Commercial Fertilizer, Lime, and Soil Conditioners as Percent of Total Cropland Acreage:  2012',
       'Acres of Cropland and Pastureland Treated with Animal Manure as Percent of Total Cropland Acreage:  2012',
       'Acres Treated with Chemicals to Control Insects as Percent of Total Cropland Acreage:  2012',
       'Acres Treated with Chemicals to Control Nematodes as Percent of Total Cropland Acreage:  2012',
       'Acres of Crops Treated with Chemicals to Control  Weeds, Grass, or Brush as Percent of Total Cropland Acreage:  2012',
       'Acres of Crops Treated with Chemicals to Control Growth, Thin Fruit, Ripen, or Defoliate as Percent of Total Cropland Acreage:  2012',
       'Acres Treated with Chemicals to Control Disease in Crops and Orchards as Percent of Total Cropland Acreage:  2012',
       'Percent of Farms with Internet Access:  2012',
       'Number of Farms:  2012',
       'Change in Number of Farms:  2007 to 2012',
       'Average Size of Farms in Acres:  2012',
       'Change in Number of Farms with Less Than 9 Acres:  2007 to 2012',
       'Change in Number of Farms with 10 to 49 Acres:  2007 to 2012',
       'Change in Number of Farms with 50 to 179 Acres:  2007 to 2012',
       'Change in Number of Farms with 180 to 499 Acres:  2007 to 2012',
       'Change in Number of Farms with 500 to 999 Acres:  2007 to 2012',
       'Change in Number of Farms with 1,000 to 1,999 Acres:  2007 to 2012',
       'Change in Number of Farms with 2,000 Acres or More:  2007 to 2012',
       'Percent of Farms Operated by Family or Individual:  2012',
       'Percent of Farms Operated by Partnership:  2012',
       'Percent of Farms Operated by Corporation:  2012',
       'Acres of Land in Farms as Percent of Land Area in Acres:  2012',
       'Acres of Irrigated Land as Percent of Land in Farms Acreage:  2012',
       'Acres of Total Cropland as Percent of Land Area in Acres:  2012',
       'Acres of Total Cropland as Percent of Land in Farms Acreage:  2012',
       'Acres of Harvested Cropland as Percent of Land in Farms Acreage:  2012',
       'Acres of Irrigated Harvested Cropland as Percent of All Harvested Cropland Acreage:  2012',
       'Acres of All Types of Pastureland as Percent of Land in Farms Acreage:  2012',
       'Acres Enrolled in Crop Insurance Programs as Percent of Land in Farms Acres:  2012',
       'Land in Farms - Change in Acreage:  2007 to 2012',
       'Irrigated Land - Change in Acreage:  2007 to 2012',
       'Total Cropland - Change in Acreage:  2007 to 2012',
       'Harvested Cropland - Change in Acreage:  2007 to 2012',
       'Acres of Irrigated Pastureland, Rangeland, and Other Unharvested Land as Percent of Acres for All Types of Pastureland:  2012',
       'Acres Enrolled in the Conservation Reserve, Wetlands Reserve, Farmable Wetlands, or Conservation Reserve Enhancement Programs as Percent of Land in Farms Acreage:  2012'],
      dtype=object)

In [81]:
animal_titles = var_lookup[var_lookup['Category'] == 'Livestock and Animals']['MAPTITLE'].values
animal_titles

array(['Average Number of Cattle and Calves per 100 Acres of All Land in Farms:  2012',
       'Cows and Heifers That Had Calved as Percent of Cattle and Calves:  2012',
       'Milk Cows as Percent of All Cattle and Calves:  2012',
       'Milk Cows as Percent of Cows and Heifers That Had Calved:  2012',
       'Other Cattle as Percent of Cattle and Calves:  2012',
       'Cattle and Calves - Change in Inventory:  2007 to 2012',
       'Number of Farms with 200 or More Cattle and Calves as Percent of Farms with Cattle and Calves:  2012',
       'Milk Cows - Change in Inventory:  2007 to 2012',
       'Number of Farms with 200 or More Milk Cows as Percent of Farms with Milk Cows:  2012',
       'Beef Cow Inventory as Percent of All Cattle and Calves Inventory:  2012',
       'Beef Cows - Change in Inventory:  2007 to 2012',
       'Number of Cattle and Calves Sold as Percent All Cattle and Calves Inventory:  2012',
       'Average Number of Hogs and Pigs per 100 Acres of All Land in Farms:  2012',
       'Hogs and Pigs - Change in Inventory:  2007 to 2012',
       'Number of Farms with 200 or More Hogs and Pigs as Percent of Farms with Hogs and Pigs:  2012',
       'Average Number of Sheep and Lambs per 100 Acres of All Land in Farms:  2012',
       'Sheep and Lambs - Change in Inventory:  2007 to 2012',
       'Ewes 1 Year Old or Older as Percent of All Sheep:  2012',
       'Average Number of All Goats per 100 Acres of All Land in Farms:  2012',
       'Milk Goats as Percent of All Goats:  2012',
       'Meat and Other Goats as a Percent of All Goats:  2012',
       'Average Number of Horses and Ponies per 100 Acres of All Land in Farms:  2012',
       'Average Number of Broilers and Other Meat-Type Chickens Sold per 100 Acres of All Land in Farms:  2012'],
      dtype=object)

In [82]:
operator_titles = var_lookup[var_lookup['Category'] == 'Operators']['MAPTITLE'].values
operator_titles

array(['Average Age of Principal Farm Operators:  2012',
       'Percent of Principal Farm Operators 65 Years Old and Over:  2012',
       'Percent of Principal Farm Operators Not Residing on Farm Operated:  2012',
       'Percent of Farms with Female Principal Operator:  2012',
       'Number of Farms with American Indian or Alaska Native Operators as Percent of Number of Farms:  2012',
       'Number of Farms with Asian Operators as Percent of Number of Farms:  2012',
       'Number of Farms with Black or African American Operators as Percent of Number of Farms:  2012',
       'Number of Farms with Native Hawaiian or Other Pacific Islander Operators as Percent of Number of Farms:  2012',
       'Number of Farms with White Operators as Percent of Number of Farms:  2012',
       'Number of Farms with Spanish, Hispanic, or Latino Origin Operators as Percent of Number of Farms:  2012',
       'Hired Farm Workers Working Less Than 150 Days as Percent of All Hired Farm Workers:  2012',
       'Hired Farm Workers Working 150 Days or More as Percent of All Hired Farm Workers:  2012',
       'Percent of Principal Farm Operators Reporting Primary Occupation as Farming:  2012',
       'Percent of Principal Farm Operators Reporting Primary Occupation as Other Than Farming:  2012',
       'Percent of Principal Farm Operators Working Off Their Farms 100 Days or More:  2012',
       'Percent of Farms Operated by Full Owners:  2012',
       'Percent of Land in Farms Operated by Full Owners:  2012',
       'Percent of Farms Operated by Part Owners:  2012',
       'Percent of Land in Farms Operated by Part Owners:  2012',
       'Percent of Farms Operated by Tenants:  2012',
       'Percent of Land in Farms Operated by Tenants:  2012',
       'Percent of Land in Farms Rented or Leased:  2012'], dtype=object)

## Agriculture Dataframes

In [56]:
agri_df['Crops and Plants'].head()

,FIPS,FIPSTEXT,y12_M161_valueText,y12_M161_classRange,y12_M161_valueNumeric,y12_M166_valueText,y12_M166_classRange,y12_M166_valueNumeric,y12_M170_valueText,y12_M170_classRange,...,y12_M369_valueNumeric,y12_M370_valueText,y12_M370_classRange,y12_M370_valueNumeric,y12_M371_valueText,y12_M371_classRange,y12_M371_valueNumeric,y12_M372_valueText,y12_M372_classRange,y12_M372_valueNumeric
0,0,0,27.75,NaN,27.75,1.63,NaN,1.63,15.57,NaN,...,18.01,10.45,NaN,10.45,6.39,NaN,6.39,1.27,NaN,1.27
1,1001,1001,1.77,Less than 5,1.77,0.00,Less than 1,0.00,9.83,5 - 9,...,0.00,83.47,75 - 94,83.47,0.00,Less than 1,0.00,1.03,1 - 4,1.03
2,1003,1003,4.53,Less than 5,4.53,0.75,Less than 1,0.75,14.06,10 - 24,...,0.00,(D),95 or more,NaN,0.00,Less than 1,0.00,1.82,1 - 4,1.82
3,1005,1005,5.44,5 - 14,5.44,1.75,1 - 4,1.75,(D),Less than 5,...,0.00,99.52,95 or more,99.52,0.00,Less than 1,0.00,0.53,Less than 1,0.53
4,1007,1007,(D),15 - 24,NaN,0.00,Less than 1,0.00,0.00,Less than 5,...,0.00,0.00,Less than 10,0.00,0.00,Less than 1,0.00,1.06,1 - 4,1.06

In [109]:
list(agri_df['Crops and Plants'].columns)

['FIPS',
 'FIPSTEXT',
 'y12_M161_valueText',
 'y12_M161_classRange',
 'y12_M161_valueNumeric',
 'y12_M166_valueText',
 'y12_M166_classRange',
 'y12_M166_valueNumeric',
 'y12_M170_valueText',
 'y12_M170_classRange',
 'y12_M170_valueNumeric',
 'y12_M185_valueText',
 'y12_M185_classRange',
 'y12_M185_valueNumeric',
 'y12_M191_valueText',
 'y12_M191_classRange',
 'y12_M191_valueNumeric',
 'y12_M201_valueText',
 'y12_M201_classRange',
 'y12_M201_valueNumeric',
 'y12_M203_valueText',
 'y12_M203_classRange',
 'y12_M203_valueNumeric',
 'y12_M229_valueText',
 'y12_M229_classRange',
 'y12_M229_valueNumeric',
 'y12_M300_valueText',
 'y12_M300_classRange',
 'y12_M300_valueNumeric',
 'y12_M301_valueText',
 'y12_M301_classRange',
 'y12_M301_valueNumeric',
 'y12_M302_valueText',
 'y12_M302_classRange',
 'y12_M302_valueNumeric',
 'y12_M303_valueText',
 'y12_M303_classRange',
 'y12_M303_valueNumeric',
 'y12_M304_valueText',
 'y12_M304_classRange',
 'y12_M304_valueNumeric',
 'y12_M305_valueText',
 'y12_M305_classRange',
 'y12_M305_valueNumeric',
 'y12_M306_valueText',
 'y12_M306_classRange',
 'y12_M306_valueNumeric',
 'y12_M307_valueText',
 'y12_M307_classRange',
 'y12_M307_valueNumeric',
 'y12_M308_valueText',
 'y12_M308_classRange',
 'y12_M308_valueNumeric',
 'y12_M309_valueText',
 'y12_M309_classRange',
 'y12_M309_valueNumeric',
 'y12_M310_valueText',
 'y12_M310_classRange',
 'y12_M310_valueNumeric',
 'y12_M311_valueText',
 'y12_M311_classRange',
 'y12_M311_valueNumeric',
 'y12_M312_valueText',
 'y12_M312_classRange',
 'y12_M312_valueNumeric',
 'y12_M313_valueText',
 'y12_M313_classRange',
 'y12_M313_valueNumeric',
 'y12_M314_valueText',
 'y12_M314_classRange',
 'y12_M314_valueNumeric',
 'y12_M315_valueText',
 'y12_M315_classRange',
 'y12_M315_valueNumeric',
 'y12_M316_valueText',
 'y12_M316_classRange',
 'y12_M316_valueNumeric',
 'y12_M317_valueText',
 'y12_M317_classRange',
 'y12_M317_valueNumeric',
 'y12_M318_valueText',
 'y12_M318_classRange',
 'y12_M318_valueNumeric',
 'y12_M319_valueText',
 'y12_M319_classRange',
 'y12_M319_valueNumeric',
 'y12_M320_valueText',
 'y12_M320_classRange',
 'y12_M320_valueNumeric',
 'y12_M321_valueText',
 'y12_M321_classRange',
 'y12_M321_valueNumeric',
 'y12_M322_valueText',
 'y12_M322_classRange',
 'y12_M322_valueNumeric',
 'y12_M323_valueText',
 'y12_M323_classRange',
 'y12_M323_valueNumeric',
 'y12_M324_valueText',
 'y12_M324_classRange',
 'y12_M324_valueNumeric',
 'y12_M325_valueText',
 'y12_M325_classRange',
 'y12_M325_valueNumeric',
 'y12_M326_valueText',
 'y12_M326_classRange',
 'y12_M326_valueNumeric',
 'y12_M327_valueText',
 'y12_M327_classRange',
 'y12_M327_valueNumeric',
 'y12_M328_valueText',
 'y12_M328_classRange',
 'y12_M328_valueNumeric',
 'y12_M329_valueText',
 'y12_M329_classRange',
 'y12_M329_valueNumeric',
 'y12_M330_valueText',
 'y12_M330_classRange',
 'y12_M330_valueNumeric',
 'y12_M331_valueText',
 'y12_M331_classRange',
 'y12_M331_valueNumeric',
 'y12_M332_valueText',
 'y12_M332_classRange',
 'y12_M332_valueNumeric',
 'y12_M333_valueText',
 'y12_M333_classRange',
 'y12_M333_valueNumeric',
 'y12_M334_valueText',
 'y12_M334_classRange',
 'y12_M334_valueNumeric',
 'y12_M335_valueText',
 'y12_M335_classRange',
 'y12_M335_valueNumeric',
 'y12_M336_valueText',
 'y12_M336_classRange',
 'y12_M336_valueNumeric',
 'y12_M337_valueText',
 'y12_M337_classRange',
 'y12_M337_valueNumeric',
 'y12_M338_valueText',
 'y12_M338_classRange',
 'y12_M338_valueNumeric',
 'y12_M339_valueText',
 'y12_M339_classRange',
 'y12_M339_valueNumeric',
 'y12_M340_valueText',
 'y12_M340_classRange',
 'y12_M340_valueNumeric',
 'y12_M341_valueText',
 'y12_M341_classRange',
 'y12_M341_valueNumeric',
 'y12_M342_valueText',
 'y12_M342_classRange',
 'y12_M342_valueNumeric',
 'y12_M343_valueText',
 'y12_M343_classRange',
 'y12_M343_valueNumeric',
 'y12_M344_valueText',
 'y12_M344_classRange',
 'y12_M344_valueNumeric',
 'y12_M345_valueText',
 'y12_M345_classRange',
 'y12_M345_valueNumeric',
 'y12_M346_valueText',
 'y12_M346_classRange',
 'y12_M346_valueNumeric',
 'y12_M347_valueText',
 'y12_M347_classRange',
 'y12_M347_valueNumeric',
 'y12_M348_valueText',
 'y12_M348_classRange',
 'y12_M348_valueNumeric',
 'y12_M349_valueText',
 'y12_M349_classRange',
 'y12_M349_valueNumeric',
 'y12_M350_valueText',
 'y12_M350_classRange',
 'y12_M350_valueNumeric',
 'y12_M351_valueText',
 'y12_M351_classRange',
 'y12_M351_valueNumeric',
 'y12_M352_valueText',
 'y12_M352_classRange',
 'y12_M352_valueNumeric',
 'y12_M353_valueText',
 'y12_M353_classRange',
 'y12_M353_valueNumeric',
 'y12_M354_valueText',
 'y12_M354_classRange',
 'y12_M354_valueNumeric',
 'y12_M355_valueText',
 'y12_M355_classRange',
 'y12_M355_valueNumeric',
 'y12_M356_valueText',
 'y12_M356_classRange',
 'y12_M356_valueNumeric',
 'y12_M357_valueText',
 'y12_M357_classRange',
 'y12_M357_valueNumeric',
 'y12_M358_valueText',
 'y12_M358_classRange',
 'y12_M358_valueNumeric',
 'y12_M359_valueText',
 'y12_M359_classRange',
 'y12_M359_valueNumeric',
 'y12_M360_valueText',
 'y12_M360_classRange',
 'y12_M360_valueNumeric',
 'y12_M361_valueText',
 'y12_M361_classRange',
 'y12_M361_valueNumeric',
 'y12_M362_valueText',
 'y12_M362_classRange',
 'y12_M362_valueNumeric',
 'y12_M363_valueText',
 'y12_M363_classRange',
 'y12_M363_valueNumeric',
 'y12_M364_valueText',
 'y12_M364_classRange',
 'y12_M364_valueNumeric',
 'y12_M365_valueText',
 'y12_M365_classRange',
 'y12_M365_valueNumeric',
 'y12_M366_valueText',
 'y12_M366_classRange',
 'y12_M366_valueNumeric',
 'y12_M367_valueText',
 'y12_M367_classRange',
 'y12_M367_valueNumeric',
 'y12_M368_valueText',
 'y12_M368_classRange',
 'y12_M368_valueNumeric',
 'y12_M369_valueText',
 'y12_M369_classRange',
 'y12_M369_valueNumeric',
 'y12_M370_valueText',
 'y12_M370_classRange',
 'y12_M370_valueNumeric',
 'y12_M371_valueText',
 'y12_M371_classRange',
 'y12_M371_valueNumeric',
 'y12_M372_valueText',
 'y12_M372_classRange',
 'y12_M372_valueNumeric']

In [114]:
agri_df['Crops and Plants']['y12_M191_valueNumeric'].values

array([24.16,  5.63, 18.59, ...,  0.  ,  0.  ,  0.  ])

In [57]:
agri_df['Economics'].head()

,FIPS,FIPSTEXT,y12_M009_valueText,y12_M009_classRange,y12_M009_valueNumeric,y12_M010_valueText,y12_M010_classRange,y12_M010_valueNumeric,y12_M011_valueText,y12_M011_classRange,...,y12_M258_valueNumeric,y12_M267_valueText,y12_M267_classRange,y12_M267_valueNumeric,y12_M268_valueText,y12_M268_classRange,y12_M268_valueNumeric,y12_M373_valueText,y12_M373_classRange,y12_M373_valueNumeric
0,0,0,56.61,NaN,56.61,31.58,NaN,31.58,11.82,NaN,...,9925.0,75.38,NaN,75.38,613.21,NaN,613.21,217835.92,NaN,217835.92
1,1001,1001,66.32,60 - 74,66.32,29.56,20 - 29,29.56,4.11,1 - 4,...,10039.0,40.65,25 - 49,40.65,182.57,50 - 249,182.57,0.00,"Less than 50,000",0.00
2,1003,1003,64.81,60 - 74,64.81,26.29,20 - 29,26.29,8.90,5 - 9,...,10036.0,48.79,25 - 49,48.79,370.05,250 - 499,370.05,4275.50,"Less than 50,000",4275.50
3,1005,1005,67.25,60 - 74,67.25,24.52,20 - 29,24.52,8.23,5 - 9,...,5059.0,24.51,Less than 25,24.51,(D),50 - 249,NaN,(D),"Less than 50,000",NaN
4,1007,1007,76.19,75 or more,76.19,22.75,20 - 29,22.75,1.06,1 - 4,...,5103.0,26.51,25 - 49,26.51,(D),750 or more,NaN,0.00,"Less than 50,000",0.00

In [58]:
agri_df['Farms'].head()

,FIPS,FIPSTEXT,y12_M003_valueText,y12_M003_classRange,y12_M003_valueNumeric,y12_M079_valueText,y12_M079_classRange,y12_M079_valueNumeric,y12_M082_valueText,y12_M082_classRange,...,y12_M272_valueNumeric,y12_M273_valueText,y12_M273_classRange,y12_M273_valueNumeric,y12_M274_valueText,y12_M274_classRange,y12_M274_valueNumeric,y12_M275_valueText,y12_M275_classRange,y12_M275_valueNumeric
0,0,0,434,NaN,434.0,40.4,NaN,40.4,6.10,NaN,...,3.71,73.27,NaN,73.27,3.37,NaN,3.37,8.98,NaN,8.98
1,1001,1001,287,180 - 499,287.0,29.3,10 - 29,29.3,1.39,1 - 4,...,8.39,55.87,50 - 64,55.87,15.72,15 - 24,15.72,3.46,Less than 5,3.46
2,1003,1003,194,180 - 499,194.0,18.9,10 - 29,18.9,3.99,1 - 4,...,16.01,82.35,75 - 89,82.35,11.17,10 - 14,11.17,56.82,40 or more,56.82
3,1005,1005,358,180 - 499,358.0,36.1,30 - 49,36.1,1.13,1 - 4,...,7.07,41.99,30 - 49,41.99,5.71,5 - 9,5.71,1.67,Less than 5,1.67
4,1007,1007,298,180 - 499,298.0,14.1,10 - 29,14.1,0.10,Less than 1,...,NaN,42.66,30 - 49,42.66,(D),5 - 9,NaN,(D),5 - 9,NaN

In [59]:
agri_df['Livestock and Animals'].head()

,FIPS,FIPSTEXT,y12_M135_valueText,y12_M135_classRange,y12_M135_valueNumeric,y12_M138_valueText,y12_M138_classRange,y12_M138_valueNumeric,y12_M141_valueText,y12_M141_classRange,...,y12_M296_valueNumeric,y12_M297_valueText,y12_M297_classRange,y12_M297_valueNumeric,y12_M298_valueText,y12_M298_classRange,y12_M298_valueNumeric,y12_M299_valueText,y12_M299_classRange,y12_M299_valueNumeric
0,0,0,9.84,NaN,9.84,42.46,NaN,42.46,10.28,NaN,...,15.77,78.32,NaN,78.32,0.40,NaN,0.40,925.42,NaN,925.42
1,1001,1001,13.45,10 - 24,13.45,54.19,45 - 54,54.19,0.16,Less than 1,...,10.30,89.70,80 - 89,89.70,0.31,Less than 2,0.31,(D),"Less than 5,000",NaN
2,1003,1003,10.27,10 - 24,10.27,50.29,45 - 54,50.29,0.33,Less than 1,...,9.83,88.67,80 - 89,88.67,0.91,Less than 2,0.91,0.00,"Less than 5,000",0.00
3,1005,1005,8.50,Less than 10,8.50,65.81,65 or more,65.81,(D),Less than 1,...,11.94,79.63,60 - 79,79.63,0.17,Less than 2,0.17,10603.80,"5,000 - 29,999",10603.80
4,1007,1007,9.76,Less than 10,9.76,66.54,65 or more,66.54,0.00,Less than 1,...,14.02,85.98,80 - 89,85.98,0.54,Less than 2,0.54,0.00,"Less than 5,000",0.00

In [60]:
agri_df['Operators'].head()

,FIPS,FIPSTEXT,y12_M110_valueText,y12_M110_classRange,y12_M110_valueNumeric,y12_M111_valueText,y12_M111_classRange,y12_M111_valueNumeric,y12_M112_valueText,y12_M112_classRange,...,y12_M278_valueNumeric,y12_M279_valueText,y12_M279_classRange,y12_M279_valueNumeric,y12_M280_valueText,y12_M280_classRange,y12_M280_valueNumeric,y12_M281_valueText,y12_M281_classRange,y12_M281_valueNumeric
0,0,0,67.72,NaN,67.72,36.77,NaN,36.77,25.27,NaN,...,1.65,0.1,NaN,0.1,96.13,NaN,96.13,3.78,NaN,3.78
1,1001,1001,64.01,60 - 69,64.01,50.10,45 - 54,50.10,23.91,20 - 24,...,14.14,0.0,Less than 1,0.0,84.58,75 - 84,84.58,0.26,Less than 5,0.26
2,1003,1003,72.70,70 - 79,72.70,43.12,35 - 44,43.12,21.84,20 - 24,...,2.63,0.0,Less than 1,0.0,96.66,95 - 98,96.66,2.22,Less than 5,2.22
3,1005,1005,80.04,80 or more,80.04,73.07,65 or more,73.07,16.81,Less than 20,...,11.03,0.0,Less than 1,0.0,89.32,85 - 94,89.32,1.40,Less than 5,1.40
4,1007,1007,75.66,70 - 79,75.66,58.34,55 - 64,58.34,20.63,20 - 24,...,1.59,0.0,Less than 1,0.0,96.83,95 - 98,96.83,0.53,Less than 5,0.53

## Tasks

### Food Groups required by 18 year old males and females over time

In [102]:
# food group required by the average 18 year old male and female 
food_groups = pd.read_csv('../data/week_5_6/food_groups_census.csv')

In [121]:
food_groups

,gender,year,us_pop_estimate,fruit,vegetables,protein,grain,dairy
0,male,2010,2305748,5764370.0,9222992,16140236,23057480,6917244
1,female,2010,2185291,4370582.0,6555873,13111746,15297037,6555873
2,male,2011,2266538,5666345.0,9066152,15865766,22665380,6799614
3,female,2011,2135776,4271552.0,6407328,12814656,14950432,6407328
4,male,2012,2239358,5598395.0,8957432,15675506,22393580,6718074
5,female,2012,2119909,4239818.0,6359727,12719454,14839363,6359727
6,male,2013,2202606,5506515.0,8810424,15418242,22026060,6607818
7,female,2013,2089744,4179488.0,6269232,12538464,14628208,6269232
8,male,2014,2162874,5407185.0,8651496,15140118,21628740,6488622
9,female,2014,2059578,4119156.0,6178734,12357468,14417046,6178734
10,male,2015,2152871,5382177.5,8611484,15070097,21528710,6458613
11,female,2015,2059129,4118258.0,6177387,12354774,14413903,6177387
12,male,2016,2158502,5396255.0,8634008,15109514,21585020,6475506
13,female,2016,2060801,4121602.0,6182403,12364806,14425607,6182403

In [123]:
food_groups_transformed = pd.read_csv('../data/week_5_6/food_groups_transformed.csv')

In [124]:
food_groups_transformed.head()

   gender  year       value        type
0    male  2010   5764370.0       fruit
1  female  2010   4370582.0       fruit
2    male  2010   9222992.0  vegetables
3  female  2010   6555873.0  vegetables
4    male  2010  16140236.0     protein

In [125]:
fgt_male = food_groups_transformed[food_groups_transformed['gender'] == 'male']

In [126]:
fgt_female = food_groups_transformed[food_groups_transformed['gender'] == 'female']

In [136]:
fgt_male_fruit = fgt_male[fgt_male['type']=='fruit']
fgt_male_vegetables = fgt_male[fgt_male['type']=='vegetables']
fgt_male_protein = fgt_male[fgt_male['type']=='protein']
fgt_male_grain = fgt_male[fgt_male['type']=='grain']
fgt_male_dairy = fgt_male[fgt_male['type']=='dairy']

In [208]:
# Create a trace
trace1 = go.Scatter(
    x = fgt_male_fruit.year.values,
    y = fgt_male_fruit.value.values,
    mode = 'lines+markers',
    name = 'Fruit (cups)'
)
trace2 = go.Scatter(
    x = fgt_male_vegetables.year.values,
    y = fgt_male_vegetables.value.values,
    mode = 'lines+markers',
    name = 'Vegetables (cups)'
)
trace3 = go.Scatter(
    x = fgt_male_protein.year.values,
    y = fgt_male_protein.value.values,
    mode = 'lines+markers',
    name = 'Protein (oz)'
)
trace4 = go.Scatter(
    x = fgt_male_grain.year.values,
    y = fgt_male_grain.value.values,
    mode = 'lines+markers',
    name = 'Grain (oz)'
)
trace5 = go.Scatter(
    x = fgt_male_dairy.year.values,
    y = fgt_male_dairy.value.values,
    mode = 'lines+markers',
    name = 'Dairy (cups)'
)



data = [trace1, trace2, trace3, trace4, trace5]
layout = go.Layout(
    title=go.layout.Title(
        text='Recommended Food Groups Portions for Average 18 year old American Male',
        xref='paper',
        x=0
    ),
    xaxis=go.layout.XAxis(
        title=go.layout.xaxis.Title(
            text='Year',
            font=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        )
    ),
    yaxis=go.layout.YAxis(
        title=go.layout.yaxis.Title(
            text='Cups or Oz',
            font=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        )
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='male_food_groups')

In [142]:
fgt_female_fruit = fgt_female[fgt_female['type']=='fruit']
fgt_female_vegetables = fgt_female[fgt_female['type']=='vegetables']
fgt_female_protein = fgt_female[fgt_female['type']=='protein']
fgt_female_grain = fgt_female[fgt_female['type']=='grain']
fgt_female_dairy = fgt_female[fgt_female['type']=='dairy']

In [207]:
# Create a trace
trace1 = go.Scatter(
    x = fgt_female_fruit.year.values,
    y = fgt_female_fruit.value.values,
    mode = 'lines+markers',
    name = 'Fruit (cups)'
)
trace2 = go.Scatter(
    x = fgt_female_vegetables.year.values,
    y = fgt_female_vegetables.value.values,
    mode = 'lines+markers',
    name = 'Vegetables (cups)'
)
trace3 = go.Scatter(
    x = fgt_female_protein.year.values,
    y = fgt_female_protein.value.values,
    mode = 'lines+markers',
    name = 'Protein (oz)'
)
trace4 = go.Scatter(
    x = fgt_female_grain.year.values,
    y = fgt_female_grain.value.values,
    mode = 'lines+markers',
    name = 'Grain (oz)'
)
trace5 = go.Scatter(
    x = fgt_female_dairy.year.values,
    y = fgt_female_dairy.value.values,
    mode = 'lines+markers',
    name = 'Dairy (cups)'
)



data = [trace1, trace2, trace3, trace4, trace5]
layout = go.Layout(
    title=go.layout.Title(
        text='Recommended Food Groups Portions for Average 18 year old American Female',
        xref='paper',
        x=0
    ),
    xaxis=go.layout.XAxis(
        title=go.layout.xaxis.Title(
            text='Year',
            font=dict(
                size=18,
                color='#7f7f7f'
            )
        )
    ),
    yaxis=go.layout.YAxis(
        title=go.layout.yaxis.Title(
            text='Cups or Oz',
            font=dict(
                size=18,
                color='#7f7f7f'
            )
        )
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='female_food_groups')

### Plant-based Protein

In [174]:
# Step 1: 1. using usable protein (lb/acre) convert the acres of land harvested in 2012 for these items 
# to lbs of usable protein produced 
# Step 2: 2. convert the lbs to oz 

def conv_usable_protein(food_cat, df):
    """
    Converting acres of select proteins to oz of protein 
    """
    if food_cat == 'soybean':
        filled_df = df['y12_M191_valueNumeric'].fillna(0)
        usable_protein_lbs = 263*filled_df.values
        usable_protein_oz = usable_protein_lbs*16
    elif food_cat == 'rice':
        filled_df = df['y12_M311_valueNumeric'].fillna(0)
        usable_protein_lbs = 224*filled_df.values
        usable_protein_oz = usable_protein_lbs*16        
    elif food_cat == 'wheat':
        filled_df = df['y12_M170_valueNumeric'].fillna(0)
        usable_protein_lbs = 75*filled_df.values
        usable_protein_oz = usable_protein_lbs*16           
    else:
        print("Error")
    return usable_protein_oz

In [210]:
# Step 3: plot the oz produced compared to the oz required by males and females (in 2012)
plants = agri_df['Crops and Plants']

In [211]:
protein_soybean = conv_usable_protein(food_cat='soybean',df=plants)

In [212]:
protein_soybean_avg = np.mean(protein_soybean)

In [213]:
protein_rice = conv_usable_protein(food_cat='rice',df=plants)
protein_rice_avg = np.mean(protein_rice)

In [214]:
protein_wheat = conv_usable_protein(food_cat='wheat',df=plants)
protein_wheat_avg = np.mean(protein_wheat)

In [215]:
x = ['Total', 'Soybean','Wheat', 'Rice', 'Male', 'Female']
y = [np.round(protein_soybean_sum+protein_rice_sum+protein_wheat_sum),
     np.round(protein_soybean_sum), protein_wheat_sum, protein_rice_sum,
    np.mean(fgt_male_protein['value']),np.mean(fgt_female_protein['value'])]

trace1 = go.Bar(
    x=x,
    y=y,
    text=y,
    textposition = 'auto',
    textfont=dict(color='#000000'),
    marker=dict(
        color='rgb(158,202,225)',
        line=dict(
            color='rgb(8,48,107)',
            width=1.5),
        ),
    opacity=0.6
)


data = [trace1]

layout = go.Layout(
    title=go.layout.Title(
        text='Usable Protein from Plant Sources compared to Average Protein Requirements',
        xref='paper',
        x=0
    ),
    font=dict(color='#000000'),
    xaxis=go.layout.XAxis(
        title=go.layout.xaxis.Title(
            text='Protein Sources/Requirements',
            font=dict(
                size=18,
                color='#7f7f7f'
            )
        )
    ),
    yaxis=go.layout.YAxis(
        title=go.layout.yaxis.Title(
            text='Oz',
            font=dict(
                size=18,
                color='#7f7f7f'
            )
        )
    )
)
fig = go.Figure(data=[trace1], layout=layout)

py.iplot(fig, filename='grouped-bar-direct-labels')